 .heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
 }

 .note {
    font-size: 15px;
    color: black;
 }

 canvas {
    background-color: grey;
    border: 5px solid black;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
    margin-left: 500px;
 }
 

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    line-height: 30px;
    text-align: center;
 
}